{% extends 'base.html.twig' %}

{% block title %}Nombre de livres en Romance{% endblock %}

{% block body %}
    <h1>Nombre de livres dans la catégorie « Romance »</h1>
    <p>Il y a {{ count }} livres dans la catégorie « Romance ».</p>
{% endblock %}
